body {
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display:flex; 
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 2vh;
  width: 30vw;
  height: 40vh;
  margin: 10px;
}
H5.card-title {
  font-size: 1vh;
}

/* navbar */

nav .nav-wrapper {
  background-color: black;
}

/* Responsive Moby */
@media only screen and (max-width: 600px) {
  .card {
      width: 40vw;
      height: 60vh;
  }
}