body {
  font-family: 'Open Sans', sans-serif;
}

.card {
  display:flex; 
  flex-direction: column;
  justify-content: space-around;
  font-size: 2vh;
  width: 22vw;
  height: 35vh;
  margin: 10px;
}
H5.card-title {
  font-size: 1vh;
}

/* navbar */
nav .nav-wrapper {
  background-color: black;
  height: 10vh;
  padding: 10px;
}

nav ul li {
  color: white;
}


/* search */
#searchBox {
width: 13vw;
margin:0;
font-size: 2vh;
}

#submitBth {
height:7vh;
width: 7vw;
text-align: center;
background-color: transparent;
font-size: 2vh;
}
/* Responsive Moby */
@media only screen and (max-width: 700px) {
  .card {
      width: 40vw;
      height: 60vh;
  }
  #searchBox {
    width: 13vw;
    margin:0;
    font-size: 2vh;
    }
    
    #submitBth {
    height:7vh;
    width: 15vw;
    text-align: center;
    background-color: transparent;
    font-size: 1vh;
    }
}